<div>
    <style>
        .icon-sounc {
            width: 100%;
            height: auto;
        }

        td:first-child:not(.word) {
            display: block;
        }

        .first-table .audio {
            width: 20px;
            height: 20px;
        }

        .first-table .text {
            text-align: left;
        }

        .first-table .input {

        }

        table {
            width: 200px;
        }

        .main-table {
            background-color: #fff;
            padding: .5em;
            border: 1px solid #ccc;
            box-shadow: 0px 1px 0px 0 #cce;
        }

        table input {
            float: right;
        }

        table li {
            display: inline-table;
        }

        table td {
            vertical-align: top;
            text-align: left;
        }
    </style>

    <table class="main-table first-table">
        <tr>
            <td ng-repeat="col in columnCount">
                <table ng-repeat="item in items"
                       ng-click="click(item)">
                    <tr ng-if="item.pos == col">
                        <td class="audio"><span ng-if="showAudio">
                                <img class="icon-sounc"
                                     src="http://upload.wikimedia.org/wikipedia/commons/2/21/Speaker_Icon.svg"
                                     alt="sound">
                            </span></td>
                        <td class="text"><span ng-if="showText"
                                  ng-bind-html="item.text">
                            </span></td>
                        <td class="input"><span ng-if="showInput">
                                <input ng-model="item.message"/>
                            </span></td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</div>